# ===== Data =====
*.png
*.jpg
*.jpeg
images/
databases/
*.sqlite
*.db

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Packaging =====
doplgrep.egg-info/
dist/
build/

# ===== macos garbage stuff =====
*.DS_Store
._*
__MACOSX/x
